<div class="py-3">
  <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#searchFilter">
    <i class="fas fa-fw fa-search"></i> Filtro de pesquisa
  </button>
</div>

<div id="searchFilter" class="collapse">
  <div class="card card-body mb-3">
    TODO
  </div>
</div>
