{{#> app/page}}

{{#*inline "head-block"}}
<meta name="robots" content="noindex">
{{/inline}}

{{#*inline "body-block"}}
<h1 class="my-5">
  Page not found
</h1>
<p>
  The page you are looking for does not exist or may have been removed.
  Try to start from <a href="/">home</a>.
</p>
{{/inline}}

{{/app/page}}
