<!doctype html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/app.min.css">
</head>
<body>
  {{#> body-block}}{{/body-block}}
  <script src="/js/vendor.min.js"></script>
  <script src="/js/app.min.js"></script>
  {{#> scripts-block}}{{/scripts-block}}
</body>
</html>
