{{#> app/page}}

{{#*inline "body-block"}}

<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">
      Consulta de pre-trades (protótipo)
    </span>
  </div>
</nav>

<div class="container">
  {{{ include 'app/pre-trade-list/_search.hbs' }}}
  {{{ include 'app/pre-trade-list/_table.hbs' }}}
</div>

{{/inline}}

{{/app/page}}
