<div class="display-6 text-muted my-3">
  OPS
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      Grupo
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="90">90 - Outros</option>
      </select>
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <label>
      Aval
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="N">N - Sem aval do governo brasileiro</option>
      </select>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      Vínculo
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="09">20 - Operação entre empresas que não pertencem ao mesmo grupo econômico</option>
      </select>
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <label>
      Finalidade
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="47032">47032 - Serviços Técnicos e Profissionais - Serviços Financeiros</option>
      </select>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      Código do cliente
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="09">09 - Empresas não financeiras - Privadas</option>
      </select>
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <label>
      Tipo do cliente
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="J">Pessoa Jurídica</option>
      </select>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      Código do pagador/recebedor
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="05">05 - Empresas não financeiras</option>
      </select>
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <label>
      Status do canal bancário
    </label>
    <p>
      <select class="form-select" disabled>
        <option value="true">Ativo</option>
      </select>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      Outras especificações
    </label>
    <p>
      <textarea rows="3" class="form-control resize-none" disabled></textarea>
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <label>
      Informações adicionais
      <span class="d-inline-block text-primary" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover"
        data-bs-content="Especifica os detalhes da transação individual ou uma referência a outra mensagem contendo os detalhes que devem ser transmitidos ao beneficiário.">
        <i class="fas fa-fw fa-info-circle"></i>
      </span>
    </label>
    <p>
      <textarea rows="3" class="form-control resize-none" disabled></textarea>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      CDNR
      <span class="d-inline-block text-primary" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover"
        data-bs-content="Cadastro declaratório de não residentes.">
        <i class="fas fa-fw fa-info-circle"></i>
      </span>
    </label>
    <p>
      <input type="text" class="form-control" disabled>
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <label>
      Tipo de TIR
    </label>
    <p>
      <select class="form-select" disabled>
        <option value=""></option>
      </select>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      RDE
    </label>
    <p>
      <input type="text" class="form-control" disabled>
    </p>
  </div>
  <div class="col-12 col-lg-3">
    <label>
      Tipo de RDE
    </label>
    <p>
      <select class="form-select" disabled>
        <option value=""></option>
      </select>
    </p>
  </div>
  <div class="col-12 col-lg-3">
    <label>
      Tipo de liquidação
    </label>
    <p>
      <select class="form-select" disabled>
        <option value=""></option>
      </select>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <label>
      Evento
    </label>
    <p>
      <input type="text" class="form-control" disabled>
    </p>
  </div>
  <div class="col-12 col-lg-3">
    <label>
      Data do evento
    </label>
    <p>
      <input type="text" class="form-control" disabled>
    </p>
  </div>
  <div class="col-12 col-lg-3">
    <label>
      Valor do evento
    </label>
    <p>
      <input type="text" class="form-control" disabled>
    </p>
  </div>
</div>

<div class="display-6 text-muted my-3">
  AML
</div>

<label class="text-muted my-3">
  Restrições
</label>
<p>
  <span class="me-3 text-danger">
    <i class="fas fa-fw fa-check-square"></i> PEP
  </span>
  <span class="me-3">
    <i class="far fa-fw fa-minus-square"></i> ESG
  </span>
  <span class="me-3">
    <i class="far fa-fw fa-minus-square"></i> SCAP
  </span>
  <span class="me-3">
    <i class="far fa-fw fa-minus-square"></i> SIAP
  </span>
  <span class="me-3">
    <i class="far fa-fw fa-minus-square"></i> MIDIA
  </span>
</p>

<div class="row">
  <div class="col-12 col-lg-6">
    <label class="text-muted my-3">
      Situação financeira
    </label>
    <div class="table-responsive">
      <div class="table-grid table-hover table-bordered border-top-0 mb-3">
        <div class="row row-header">
          <div class="col-auto">Origem</div>
          <div class="col-auto">Data</div>
          <div class="col-auto">Patrimônio</div>
          <div class="col-auto">Fat</div>
        </div>

        <div class="row">
          <div class="col-auto">
            <strong>FICHA CADASTRAL</strong>
          </div>
          <div class="col-auto">
            <strong>08/08/2021</strong>
          </div>
          <div class="col-auto">
            <strong>R$ 1.172.613,00</strong>
          </div>
          <div class="col-auto">
            <strong>R$ 3.952.449,00</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <label class="text-muted my-3">
      Margens
    </label>
    <div class="table-responsive">
      <div class="table-grid table-hover table-bordered border-top-0 mb-3">
        <div class="row row-header">
          <div class="col-auto">Ano</div>
          <div class="col-auto">Remessa</div>
          <div class="col-auto">Internação</div>
        </div>
        <div class="row">
          <div class="col-auto">
            <strong>2020</strong>
          </div>
          <div class="col-auto">
            <strong>R$ 0,00</strong>
          </div>
          <div class="col-auto">
            <strong>R$ 962.982,09</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <strong>2021</strong>
          </div>
          <div class="col-auto">
            <strong>R$ 0,00</strong>
          </div>
          <div class="col-auto">
            <strong>R$ 210.432,03</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="display-6 text-muted my-3">
  TAX
</div>

<p class="text-muted">
  <small>As taxas devem ser digitadas em decimal. Ex.: 1,25% = 0,0125</small>
</p>

<div class="row">
  <div class="col-12 col-md-4 col-lg-2">
    <label>
      IRRF
    </label>
    <p>
      <input type="text" class="form-control" value="0,1500" disabled>
    </p>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <label>
      IOF
    </label>
    <p>
      <input type="text" class="form-control" value="0,0038" disabled>
    </p>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <label>
      ISS
    </label>
    <p>
      <input type="text" class="form-control" value="0,0500" disabled>
    </p>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <label>
      CIDE
    </label>
    <p>
      <input type="text" class="form-control" value="0,1000" disabled>
    </p>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <label>
      PIS
    </label>
    <p>
      <input type="text" class="form-control" value="0,0165" disabled>
    </p>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <label>
      COFINS
    </label>
    <p>
      <input type="text" class="form-control" value="0,0760" disabled>
    </p>
  </div>
</div>

<label>
  Observações
</label>
<p>
  <textarea rows="3" class="form-control resize-none" disabled></textarea>
</p>

<div class="mb-3">
  <label class="checkbox">
    <span class="check-text pe-2">Aprovado?</span>
    <input type="checkbox" disabled>
    <span class="check-mark"></span>
  </label>
</div>

<hr>

<p>
  <button type="button" class="btn btn-primary text-white">
    Salvar
  </button>
</p>
