<div class="card">
  <div class="card-body bg-light">
    <div class="text-muted mb-2">
      Comentários
    </div>
    <div class="d-flex align-items-start bg-white p-3">
      <div class="text-muted p-2">
        <i class="fas fa-fw fa-lg fa-user"></i>
      </div>
      <div class="bg-white">
        <div class="mb-1">
          <span class="text-primary">user001</span> (Officer)
          <small class="text-muted ps-1">
            05/08/2021 10:05
          </small>
        </div>
        <small>
          Lorem ipsum dolor sit amet.
        </small>
      </div>
    </div>
    <div class="d-flex align-items-start bg-white p-3">
      <div class="text-muted p-2">
        <i class="fas fa-fw fa-lg fa-user"></i>
      </div>
      <div class="bg-white">
        <div class="mb-1">
          <span class="text-primary">user002</span> (Officer)
          <small class="text-muted ps-1">
            05/08/2021 10:15
          </small>
        </div>
        <small>
          Lorem ipsum dolor sit amet.
        </small>
      </div>
    </div>
    <div class="d-flex align-items-start bg-white p-3">
      <div class="text-muted p-2">
        <i class="fas fa-fw fa-lg fa-user"></i>
      </div>
      <div class="bg-white">
        <div class="mb-1">
          <span class="text-primary">user003</span> (TAX)
          <small class="text-muted ps-1">
            05/08/2021 10:30
          </small>
        </div>
        <small>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </small>
      </div>
    </div>

    <label for="comment" class="d-flex flex-column bg-white">
      <div class="d-flex flex-column border rounded m-3">
        <textarea id="comment" class="form-control shadow-none resize-none border-0" rows="3"></textarea>
        <button type="button" class="btn btn-primary text-white ms-auto">
          Comentar
        </button>
      </div>
    </label>
  </div>
</div>
