<div class="display-6 text-muted my-3">
  Contrato
</div>

<div class="mb-2">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Número do contrato do Bacen">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary text-white">
        <i class="fas fa-fw fa-search"></i> Pesquisar
      </button>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <label>
      Cliente
    </label>
    <p>
      <strong>
        Mary Jane
      </strong>
    </p>
    <div class="row">
      <div class="col-12 col-md-4">
        <label>
          Valor M.N.
        </label>
        <p>
          <strong>
            0,00
          </strong>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <label>
          Valor M.E.
        </label>
        <p>
          <strong>
            0,00
          </strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <label>
          Data da liquidação nacional
        </label>
        <p class="text-muted">
          --
        </p>
      </div>
      <div class="col-12 col-md-4">
        <label>
          Data da liquidação estrangeira
        </label>
        <p class="text-muted">
          --
        </p>
      </div>
    </div>
    <label>
      Taxa
    </label>
    <p class="mb-0">
      <strong>
        0,00
      </strong>
    </p>
  </div>
  <div class="card-footer bg-white">
    <button type="button" class="btn btn-primary text-white">
      Vincular
    </button>
    <button type="button" class="btn btn-outline-primary">
      Cancelar
    </button>
  </div>
</div>

<div class="display-6 text-muted my-3">
  Boletos contratados
</div>

<div class="table-responsive">
  <div class="table-grid table-hover table-bordered mb-3">
    <div class="row row-header">
      <div class="col-auto fw-bold">Contrato</div>
      <div class="col-auto fw-bold">Tributos</div>
      <div class="col-auto fw-bold">PTAX</div>
      <div class="col-auto fw-bold">Taxa do contrato</div>
      <div class="col-auto fw-bold">Emissão do invoice</div>
    </div>

    <div class="row">
      <div class="col-auto">
        <div>123456789</div>
        <small class="text-muted">
          Contratado em 06/08/2021 10:30
        </small>
      </div>
      <div class="col-auto">
        <div class="row">
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>IRRF:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>CIDE:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>ISS:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>PIS:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>IOF:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>COFIN:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row">
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>Emissão:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 text-end text-muted">
                <small>D-2:</small>
              </div>
              <span class="ms-auto ps-2">R$ 0,00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        R$ 0,00
      </div>
      <div class="col-auto">
        05/08/2021 15:00
      </div>
    </div>
  </div>
</div>
