<div class="table-responsive">
  <div class="table-grid table-hover table-bordered border-top-0 mb-3">
    <div class="row row-header">
      <div class="col-auto fw-bold">Documento</div>
      <div class="col-auto fw-bold"></div>
    </div>

    <div class="row">
      <div class="col-auto">
        <div>Documento_001.pdf</div>
        <small class="text-muted">
          Criado em 05/08/2021 10:10 por user001
        </small>
      </div>
      <div class="col-auto">
        <div class="text-end">
          <div class="d-inline-flex align-items-center">
            <button type="button" class="btn btn-sm btn-link ms-auto">
              Download <i class="fas fa-fw fa-long-arrow-alt-down"></i>
            </button>
            <button type="button" class="btn btn-sm btn-link text-danger ms-auto">
              Excluir <i class="fas fa-fw fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-auto">
        <div>Documento_002.pdf</div>
        <small class="text-muted">
          Criado em 05/08/2021 10:20 por user002
        </small>
      </div>
      <div class="col-auto">
        <div class="text-end">
          <div class="d-inline-flex align-items-center">
            <button type="button" class="btn btn-sm btn-link ms-auto">
              Download <i class="fas fa-fw fa-long-arrow-alt-down"></i>
            </button>
            <button type="button" class="btn btn-sm btn-link text-danger ms-auto">
              Excluir <i class="fas fa-fw fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="display-6 text-muted mt-3">
  Histórico do cliente
</div>

<div class="mb-3">
  <small class="text-muted">
    Marx Fernandes &middot; 321.321.321-84
  </small>
</div>

<div class="card card-body mb-3">
  <div class="row g-3">
    <div class="col-sm-7">
      <select class="form-select">
        <option hidden>Categoria</option>
        <option value="1">DI - Declaração de Importação </option>
        <option value="2">IR - Declaração de Imposto de Renda</option>
        <option value="3">NFS-e - Nota Fiscal Eletrônica</option>
      </select>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Data de expiração">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-primary">
        Atualizar selecionados
      </button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <div class="table-grid table-hover table-bordered border-top-0 mb-3">
    <div class="row row-header">
      <div class="col-auto fw-bold">
        <input type="checkbox" class="">
      </div>
      <div class="col-auto fw-bold">Documento</div>
      <div class="col-auto fw-bold">Categoria</div>
      <div class="col-auto fw-bold">Pre-trade</div>
      <div class="col-auto fw-bold">Pagador/Recebedor</div>
      <div class="col-auto fw-bold">Expiração</div>
      <div class="col-auto fw-bold"></div>
    </div>

    <div class="row">
      <div class="col-auto">
        <input type="checkbox" class="">
      </div>
      <div class="col-auto">
        <div>Documento_101.pdf</div>
        <small class="text-muted">
          Criado em 20/07/2021 15:30 por user015
        </small>
      </div>
      <div class="col-auto">
        <span class="text-muted">--</span>
      </div>
      <div class="col-auto">
        10050
      </div>
      <div class="col-auto">
        <div>Mary Jane</div>
        <small class="text-muted">
          Estados Unidos
        </small>
      </div>
      <div class="col-auto">
        <i class="text-muted">Não expira</i>
      </div>
      <div class="col-auto">
        <div class="text-end">
          <button type="button" class="btn btn-sm btn-link ms-auto">
            Download <i class="fas fa-fw fa-long-arrow-alt-down"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-auto">
        <input type="checkbox" class="">
      </div>
      <div class="col-auto">
        <div>Documento_102.pdf</div>
        <small class="text-muted">
          Criado em 20/07/2021 17:00 por user025
        </small>
      </div>
      <div class="col-auto">
        <span class="text-muted">--</span>
      </div>
      <div class="col-auto">
        10234
      </div>
      <div class="col-auto">
        <div>John Doe</div>
        <small class="text-muted">
          Estados Unidos
        </small>
      </div>
      <div class="col-auto">
        21/07/2021 17:00
      </div>
      <div class="col-auto">
        <div class="text-end">
          <button type="button" class="btn btn-sm btn-link ms-auto">
            Download <i class="fas fa-fw fa-long-arrow-alt-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
