<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Segmento
    </label>
    <p>
      <strong>
        Corporate
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      Simbólico
    </label>
    <p>
      <strong>
        Não
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      Exige aprovação TAX?
    </label>
    <p>
      <strong>
        Não
      </strong>
    </p>
  </div>
</div>

<div class="display-6 text-muted my-3">
  Natureza
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Finalidade
    </label>
    <p>
      <strong>
        67043 - Mercado Financeiro e de Capitais - Fundos de Investimento
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-6">
    <label>
      Código do cliente
    </label>
    <p>
      <strong>
        56 - Demais empresas financeiras - Fundos de Investimento
      </strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Aval
    </label>
    <p>
      <strong>
        N - Sem aval do Governo brasileiro
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-6">
    <label>
      Código do beneficiário
    </label>
    <p>
      <strong>
        56 - Demais empresas financeiras - Fundos de Investimento
      </strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Grupo
    </label>
    <p>
      <strong>
        90 - Outros
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-6">
    <label>
      Vínculo
    </label>
    <p>
      <strong>
        19 - Operação entre empresas do mesmo grupo econômico - Demais casos
      </strong>
    </p>
  </div>
</div>

<div class="display-6 text-muted my-3">
  Contraparte
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Cliente
    </label>
    <p>
      <strong>
        William Pascucci
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      CPF/CNPJ
    </label>
    <p>
      <strong>
        123.123.123-87
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      País
    </label>
    <p>
      <strong>
        Brasil
      </strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Conta bancária
    </label>
    <p>
      <strong>
        123 / 12345-6
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      Banco
    </label>
    <p>
      <strong>
        BTG Pactual (208)
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      Classificação
    </label>
    <p>
      <strong>
        N/A
      </strong>
    </p>
  </div>
</div>

<div class="display-6 text-muted my-3">
  Destino
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Beneficiário
    </label>
    <p>
      <strong>
        Marx Fernandes
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      CPF/CNPJ
    </label>
    <p class="text-muted">
      --
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      País
    </label>
    <p>
      <strong>
        Brasil
      </strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Conta bancária
    </label>
    <p class="text-muted">
      --
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      Banco
    </label>
    <p class="text-muted">
      --
    </p>
  </div>
</div>

<div class="display-6 text-muted my-3">
  RDE
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Liquidação
    </label>
    <p class="text-muted">
      --
    </p>
  </div>
  <div class="col-12 col-md-8">
    <label>
      Informativo
    </label>
    <p class="text-muted">
      --
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      Evento
    </label>
    <p class="text-muted">
      --
    </p>
  </div>
  <div class="col-12 col-md-8">
    <label>
      Veredito do evento
    </label>
    <p class="text-muted">
      --
    </p>
  </div>
</div>

<div class="display-6 text-muted my-3">
  Tributos
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      IRRF
    </label>
    <p>
      <strong>
        0,0000%
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      IOF
    </label>
    <p>
      <strong>
        0,0000%
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      ISS
    </label>
    <p>
      <strong>
        0,0000%
      </strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <label>
      CIDE
    </label>
    <p>
      <strong>
        0,0000%
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      PIS
    </label>
    <p>
      <strong>
        0,0000%
      </strong>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <label>
      COFINS
    </label>
    <p>
      <strong>
        0,0000%
      </strong>
    </p>
  </div>
</div>
